.articles__list {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.articles__header {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  text-transform: capitalize;
}
