.topics__container {
  margin: 0 0 4rem 0;
  margin-top: 5rem;
  display: flex;
  justify-content: start;
  list-style: none;
  border-bottom: 1px solid rgba(100, 100, 111, 0.3);
}

.topics__item {
  margin-right: 0.2rem;
  padding: 0.5rem;
  font-weight: 600;
  font-size: 2rem;
  text-transform: lowercase;
  background: #fff;
  border-left: 1px solid rgba(100, 100, 111, 0.3);
  border-top: 1px solid rgba(100, 100, 111, 0.3);
  border-radius: 5px 0 0 0;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
}

.topics__link {
  text-decoration: none;
  color: #000;
}

.topics__link:hover {
  color: rgb(100, 100, 100);
}

@media screen and (min-width: 36.5em) {
  .topics__container {
    margin: 6rem 1.5rem 6rem 1.5rem;
  }
}

@media screen and (min-width: 56em) {
  .topics__item {
    font-size: 3rem;
  }
}
