.App {
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 36.5em) {
  .App {
    width: 75%;
  }
}

@media screen and (min-width: 56em) {
  .App {
    width: 70%;
  }
}

@media screen and (min-width: 76em) {
  .App {
    width: 50%;
  }
}
