.articles__list {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.select__container {
  margin-top: 6rem;
  display: flex;
  justify-content: end;
}

.articles__header {
  margin-left: 1.5rem;
  margin-right: auto;
  font-size: 2.7rem;
  text-transform: capitalize;
}

.select {
  padding: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid rgba(100, 100, 111, 0.3);
  border-radius: 5px;
  outline: none;
  background: #fff;
  cursor: pointer;
}

.select:first-child {
  margin-right: 0.5rem;
}

.select__articles {
  margin-right: 1.5rem;
}

.article__item {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background: #fff;
}

.article__item:hover {
  background: rgb(246, 242, 242);
}

.articles__link {
  text-decoration: none;
  color: #000;
}

.link--disabled {
  pointer-events: none;
  cursor: default;
}

.article__header {
  font-size: 2.1rem;
}

.article__body {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.user__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem 0;
}

.user__details {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.user__avatar {
  margin-right: 0.5rem;
  color: #a8a1a1;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.created_at {
  font-size: 1.5rem;
}

.votes__container {
  margin: 2rem 0 0 0;
  display: flex;
  align-items: start;
}

.comment_count,
.votes {
  font-size: 1.6rem;
  color: #837f7f;
}

.votes {
  margin-right: 0.7rem;
  align-self: flex-end;
}

.comment_count {
  margin-left: auto;
}

.vote {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.comments {
  margin: 1rem 0 4rem 0;
  padding: 0 2rem 2rem 2rem;
  list-style: none;
  border: 1px solid #cfcaca;
  border-radius: 5px;
}

.comments__item {
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cfcaca;
}

.comments__item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.comment__body {
  font-size: 1.6rem;
}

.add__comment,
.delete__comment,
.edit__comment {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.add__comment,
.delete__comment {
  margin-left: auto;
}

.edit__comment {
  margin: 0 0 1rem 0;
  align-self: flex-end;
}

.close__btn {
  margin-left: auto;
  cursor: pointer;
  border: none;
  background: transparent;
}

.comment__label {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

.comment__area {
  width: 100%;
  height: 20rem;
  margin-top: 1rem;
  font-size: 1.7rem;
  text-indent: 0.5rem;
  outline: none;
  resize: none;
}

.comment__btn {
  padding: 0.8rem 2.8rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (min-width: 36.5em) {
  .comment__form {
    width: 70%;
  }

  .comment__label {
    font-size: 2.2rem;
  }

  .comment_count,
  .votes {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 46em) {
  .select {
    font-size: 1.7rem;
  }

  .article__header {
    font-size: 2.4rem;
  }

  .user__details {
    font-size: 1.6rem;
  }

  .user__avatar {
    height: 4rem;
    width: 4rem;
  }

  .created_at {
    font-size: 1.6rem;
  }

  .comment__body {
    font-size: 1.8rem;
  }

  .comment__form {
    width: 50%;
  }

  .comment__label {
    margin-bottom: 3rem;
    font-size: 2.3rem;
  }

  .comment__area {
    height: 20rem;
    margin-top: 1.2rem;
    font-size: 2rem;
  }

  .comment__btn {
    font-size: 2rem;
  }
}

@media screen and (min-width: 76em) {
  .comment__form {
    width: 30%;
  }

  .comment__label {
    font-size: 2.6rem;
  }

  .comment__area {
    font-size: 2.3rem;
  }

  .comment__body {
    font-size: 2rem;
  }

  .comment__btn {
    font-size: 2.3rem;
  }
}
