.login__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.login__input {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.7rem;
  outline: none;
}

.login__btn {
  margin-bottom: 2rem;
  padding: 1.3rem 2rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 5px;
  background: #2020e8;
  color: #fff;

  cursor: pointer;
}

.register {
  font-size: 1.6rem;
}

.register__btn {
  background: none;
  border: none;
  color: #0000d4;
  font-size: 1.6rem;
  cursor: pointer;
}

.register__btn:hover {
  color: red;
}

@media screen and (min-width: 36.5em) {
  .login__form {
    width: 70%;
  }

  .login__label {
    font-size: 2.2rem;
  }

  .login__btn {
    font-size: 1.8rem;
  }

  .register {
    font-size: 1.8rem;
  }
  .register__btn {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 46em) {
  .login__form {
    width: 50%;
  }

  .login__label {
    font-size: 2.3rem;
  }

  .login__input {
    font-size: 2rem;
  }

  .login__btn {
    padding: 1.5rem 4rem;
    font-size: 2.2rem;
  }

  .register {
    font-size: 2.2rem;
  }
  .register__btn {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 76em) {
  .login__form {
    width: 30%;
  }

  .login__label {
    font-size: 2.6rem;
  }

  .login__input {
    font-size: 2.3rem;
  }

  .login__btn {
    font-size: 2.3rem;
  }
}
