.logo {
  position: relative;
  color: #000;
  text-decoration: none;
  backface-visibility: hidden;
}

.logo__header {
  display: flex;
  justify-content: center;
  font-size: 6rem;
}

.logo--letter {
  position: absolute;
  margin: 2.3rem 0 0 4.25rem;
  color: rgb(192, 14, 14);
}

.logo--rest {
  position: absolute;
  font-size: 2.5rem;
  margin: 5.4rem 0 0 14rem;
}

@media screen and (min-width: 36.5em) {
  .logo__header {
    font-size: 6rem;
  }

  .logo--rest {
    display: block;
    margin: 5rem 0 0 15.5rem;
    font-size: 3rem;
  }
}
