.user__container {
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}

.username {
  margin: 0 0.5rem 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
}

.avatar_url {
  height: 4rem;
  width: 4rem;
  margin-right: 0.5rem;
  object-fit: cover;
  outline: 2px solid #a8a6a6;
  border-radius: 50%;
  cursor: pointer;
}

.open__login {
  cursor: pointer;
  background: transparent;
  border: none;
}

.logout {
  position: absolute;
  right: 1.2rem;
  bottom: -7rem;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem 2rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 3;
}

.logout::before {
  content: '';
  display: block;
  position: absolute;
  top: -1.5rem;
  right: 5%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid rgb(255, 255, 255);
}

@media screen and (min-width: 36.5em) {
  .avatar_url {
    margin-right: 0;
  }
}

@media screen and (min-width: 56em) {
  .username {
    font-size: 1.6rem;
  }
}
