.article__item {
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background: #fff;
}

/* .article__item:first-of-type {
  margin-top: 6rem;
} */

.articles__link {
  text-decoration: none;
  color: #000;
}

.article__header {
  font-size: 2rem;
}

.article__body {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.user__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem 0;
}

.user_details {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
}

.user__avatar {
  margin-right: 0.5rem;
  color: #a8a1a1;
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.created_at {
  font-size: 1.5rem;
}

.votes__container {
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article__comment_count {
  font-size: 1.3rem;
  color: #837f7f;
}

.vote__down {
  margin-bottom: -0.5rem;
}

.comments {
  margin: 4rem 0 4rem 0;
  padding: 2rem;
  list-style: none;
  border: 1px solid #cfcaca;
  border-radius: 5px;
}

.comments__item {
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cfcaca;
}

.comments__item:last-of-type {
  margin-bottom: 0;
}

.comment__body {
  font-size: 1.3rem;
}
